/*index*/
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    
}

nav {
    background-color: #003366; /* สีพื้นหลังของเมนู*/
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    
}

nav a:hover {
    background-color: #0055cc; /* เปลี่ยนสีเมื่อเอาเมาส์ไปที่ลิงก์ */
    color: white;
}

nav a.active {
    background-color: #0044cc; /* สีพื้นหลังของลิงก์ที่เลือก */
    color: white;
}

.data-link {
    text-align: center;
}

@media screen and (max-width: 600px) {
    nav a {
        float: none;
        width: 100%;
        text-align: left;
        
    }

    table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }

    table, th, td {
        width: 100%;
        display: block;
        box-sizing: border-box;
    }

    th, td {
        text-align: right;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #003366; /* สีพื้นหลังของ header */
    color: white;
}

td button {
    background-color: #003366; /* ปุ่ม "Open" */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

td button:hover {
    background-color: #0055cc; /* เปลี่ยนสีเมื่อเอาเมาส์ไปที่ปุ่ม */
}


 /* ช่องค้นหาสำหรับการค้นหาชื่อ */
 #searchBox {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}