<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="/styles-profile.css">

</head>
<body>
    <nav>
        <a href="./index.html" onclick="setActive(this)">Home</a>
        <a href="./date.html" onclick="setActive(this)">Update</a>
        <a href="./profile.html" class="active" onclick="setActive(this)">Profile</a>
    </nav>
    <img src="https://i.pinimg.com/originals/fe/b6/b6/feb6b68d5ffc34b5f5f03f72b035f04e.gif" alt="b1">
    <p>panuwat takham</p>

    <footer>
        <p>Contact me:<a href="">panuwattakham2002@gmail.com</a></p>
        <p>Follow me on:
            <a href="https://web.facebook.com/panuwat.takham.5">Facebook</a>|
            <a href="https://github.com/Panuwat-ta">github</a>
            <p>&copy; 2024 My Lab</p>
        


    </footer>
</body>
</html>
